body {

    background-color: #8ef781;
    color: black;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #000000;
}
a {
  color: #004d40;
  font-weight: bold;
}

.wrap {
  margin: 48px auto;
  max-width: 580px;
  text-align: justify;
}
h1, h2 {
  font-weight: lighter;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
text-align: center;
}