{% extends "layout.html" %}

{% block title %}Page 3: Ask for your favorite color{% endblock %}

{% block content %}

<head>
<style>
div.a {
  text-align: center;
}
</style>
</head>
<body>

<div class="a">
  <h1>Page 3: Quiz </h1>

 <form action={{ url_for("renderPage4") }} method="POST">
3.What is the term used to describe the process of converting timber into finished wood products?
 <br>
  <input type="text" name="Questions3">
  <input type="submit" value="Submit">
  <p>type your answer above</p>
  
   A. Woodworking <br>
   B. Milling <br>
   C. Lumbering <br>
   D. Sawmilling <br>
  
  
  
 </form> 



{% endblock %}
