{% extends "layout.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}

<head>
<style>
div.a {
  text-align: center;
}
</style>
</head>
<body>

<div class="a">
  <h1>Page 2: Quiz </h1>

 <form action={{ url_for("renderPage3") }} method="POST">
 2.Which management technique involves removing all trees from a specific area to create open space for new growth?:<br>
  <input type="text" name="Questions2">
  <input type="submit" value="Submit">
  <p>type your answer above</p>
  
   A. Thinning <br>
   B. Selective logging <br>
   C. Clearcutting <br>
   D. Shelterwood cutting <br>
  
  
  
 </form> 



{% endblock %}
