{% extends "layout.html" %}

{% block title %}page 4--Now we know everything!{% endblock %}

{% block content %}
  <h1>Now I know:</h1>

<ul>
 <li> you choose : {{ session['Questions1'] }} </li>
 <p>the correct answer is A. Pine </p>
 
 <li> you choose : {{ session['Questions2'] }} </li>
 <p>the correct answer is C. Clearcutting</p>
 
 <li> you choose : {{ session['Questions3'] }} </li>
 <p>the correct answer is D. Sawmilling</p>
 
 <p>your score is {{score}} </p>
 
 
</ul>



{% endblock %}
